{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static', filename= 'assets/img/about-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I am a software developer with a strong expertise in Google Cloud Platform (GCP) technologies, Python, SQL, and C++. My passion lies in building scalable and efficient solutions using cutting-edge technologies.</p>
                        <p>In terms of GCP, I have extensive experience working with various services such as BigQuery, Virtual Machine, Composer, and Cloud Functions. I have leveraged these technologies to design and develop robust cloud-based solutions, enabling efficient data processing, analysis, and management.</p>
                        <p>Python is one of my core programming languages, and I have honed my skills by working on numerous projects and utilizing popular frameworks such as Flask and FastAPI. I have leveraged the power of Python to develop web applications with seamless functionality and user-friendly interfaces.</p>
                        <p>During my internship at HyperSpace Consulting, where I held the position of Software Engineering Intern from February 2023 to June 2023, I gained valuable industry experience. Throughout my internship, I had the opportunity to work on Python and its associated frameworks, including Flask, FastAPI, and Google Cloud Platform. This experience allowed me to enhance my coding abilities, collaborate with a diverse team, and solve real-world challenges.</p>
                        <p>In addition to my proficiency in Python and GCP, I am also well-versed in SQL and C++. These languages have enabled me to work on data-intensive projects and develop high-performance applications.</p>
                        <p>I am constantly seeking new opportunities to expand my knowledge and stay up-to-date with the latest advancements in the software development industry. With a strong foundation in GCP, Python, SQL, and C++, I am confident in my ability to contribute to challenging projects and deliver innovative solutions.</p>
                        <p>Please feel free to reach out to discuss potential collaborations or exciting software development opportunities. I have given my Github and Linkedin profile below in the page.</p>
                    </div>
                </div>
            </div>
        </main>
       {% endblock %}